@using LicentaTest.Models.Register
@model AddMyUserModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Completeaza datele de mai jos pentru a te loga pe site.</p>

<form class="login:" asp-controller="Login" asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-8">
                <input asp-for="UserName" class="form-control" type="email"/>
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <label asp-for="Password"></label>
            </div>
            <div class="col-8">
                <input asp-for="Password" class="form-control" type="password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" name="log" id="log" value="Autentifica-ma">
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

