<div class="about-section">
    <h1>Gaming Rental</h1>
    <p>Despre noi !</p>
    <p>Gaming Rental este o companie inovatoare specializată în închirierea de echipamente de gaming de ultimă generație, oferind pasionaților de jocuri video acces facil la console de top, cum ar fi Xbox și PlayStation, fără necesitatea de a le achiziționa.</p>
    <p>Afacerea noastră se adresează atât gamerilor ocazionali, cât și celor pasionați, care doresc să experimenteze cele mai noi jocuri și tehnologii fără a investi sume mari de bani.</p>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <div class="column light-blue align-content-center">
        <div class="card recenzie img">
            <img src="\images\photo3.jpeg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder, Gaming Rental</p>
                    <p>Jane Doe este un lider vizionar și pasionat de industria gaming-ului, aducând peste 15 ani de experiență în management și tehnologie la cârma Game Rental Sibiu.Absolvent al Facultății de Informatică din cadrul Universității Politehnica din București, Andrei și-a început cariera în domeniul dezvoltării de software, unde și-a dezvoltat abilitățile tehnice și manageriale.</p>
                <p>jane@example.com</p>
            </div>
        </div>
    </div>

    <div class="column light-blue align-content-center">
        <div class="card recenzie img">
            <img src="\images\photo4.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                    <p class="title">Specialist Suport Tehnic, Gaming Rental </p>
                    <p>Mike Ross este un profesionist dedicat și competent, ocupând poziția de Specialist Suport Tehnic la Gaming Rental. Cu o experiență de peste 5 ani în domeniul IT și o pasiune pentru tehnologie, Mike este un pilon central în asigurarea funcționării optime a echipamentelor de gaming închiriate de clienți.</p>
                <p>mike@example.com</p>
            </div>
        </div>
    </div>

    <div class="column light-blue align-content-center">
        <div class="card recenzie img">
            <img src="\images\photo2.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                    <p class="title">Specialist Social Media, Gaming Rental</p>
                    <p>John Doe este un specialist în social media creativ și pasionat, care aduce un suflu proaspăt și inovator echipei Gaming Rental. Cu o experiență de peste 7 ani în marketing digital și social media management, John este responsabilă pentru gestionarea prezenței online a companiei, asigurându-se că mesajul și valorile Gaming Rental ajung la publicul țintă în mod eficient și captivant.</p>
                <p>john@example.com</p>
            </div>
        </div>
    </div>
</div>

