<div class="container">
    @{
        ViewData["Title"] = "Recenzii clienti";
    }
    <h1 class="about-section">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-2"></div>


<div class="recenzie light-blue">
    <img src="\images\recenzie1.jpg" alt="Avatar" style="width:120px">
            <p><span>Rebecca Flex.</span> Client </p>
            <p>    Am avut o experiență excelentă cu Gaming Rental Sibiu ! Am închiriat un PlayStation 5 pentru weekend și totul a decurs fără probleme. Echipamentul a fost livrat rapid și era într-o stare impecabilă. Serviciul de suport tehnic a fost foarte prompt și m-a ajutat să rezolv o mică problemă de conexiune la internet. Cu siguranță voi mai apela la ei!</p>
</div>

<div class="recenzie light-blue">
    <img src="\images\recenzie2.jpg" alt="Avatar" style="width:120px">
            <p><span>George Spous</span> Client</p>
            <p>    Sunt foarte mulțumit de serviciile oferite de Gaming Rental Sibiu. Am închiriat un Xbox Series X pentru o săptămână și am apreciat flexibilitatea perioadei de închiriere. Echipa de suport a fost foarte prietenoasă și m-a ghidat pas cu pas la instalare. Singurul minus a fost că o manetă avea o mică zgârietură, dar nu a afectat funcționarea. Recomand!</p>
</div>

<div class="recenzie light-blue">
    <img src="\images\recenzie4.jpg" alt="Avatar" style="width:120px">
            <p><span>John Bacon.</span> Client</p>
            <p>   Gaming Rental Sibiu este soluția perfectă pentru gamerii care vor să testeze cele mai noi console fără să le cumpere. Am închiriat un PlayStation 5 pentru fiul meu și a fost super încântat. Consolele vin cu toate accesoriile necesare și chiar câteva jocuri incluse. Procesul de returnare a fost simplu și fără stres. O experiență de 5 stele</p>
</div>
</div>
</div>

