<div class="container">
    @{
        ViewData["Title"] = "Recenzii clienti";
    }
    <h1 class="about-section">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-2"></div>
<div class="recenzie light-blue">
    <img src="\images\recenzie1.jpg" alt="Avatar" style="width:120px">
    <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>    John Doe saved us from a web disaster.</p>
</div>

<div class="recenzie light-blue">
    <img src="\images\recenzie2.jpg" alt="Avatar" style="width:120px">
    <p><span>Rebecca Flex.</span> CEO at Company.</p>
    <p>    No one is better than John Doe.</p>
</div>

<div class="recenzie light-blue">
    <img src="\images\recenzie4.jpg" alt="Avatar" style="width:120px">
    <p><span>Rebecca Flex.</span> CEO at Company.</p>
    <p>    No one is better than John Doe.</p>
</div>
</div>
</div>

