@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<p>Completeaza datele de mai jos pentru a te inregistra pe site.</p>
<form>
<form class="login">

            <label>
                <b>
                    Nume:
                </b>
            </label>
        <br>
            <input type="text" name="Nume" id="Nume">
        <br>
            <label>
               <b>
                   Prenume:
                </b>
            </label>
        <br>
            <input type="text" name="Prenume" id="Prenume">
        <br>
        <label>
            <b>
                Mail:
            </b>
        </label>
        <br>
        <input type="text" name="Mail" id="Mail">
        <br>
        <label>
            <b>
                Adresa:
            </b>
        </label>
        <br>
        <input type="text" name="Adresa" id="Adresa">
        <br>
        <label>
            <b>
                Parola:
            </b>
        </label>
        <br>
        <input type="Password" name="Parola" id="Parola">

        <br><br>
            <input type="button" name="log" id="log" value="Log In Here"> 
        </form>
</form>
